.shape {
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
}

.shape-square {
    background: url("images/square.gif") 0 0 / contain no-repeat;
}

.shape-circle {
    background: url("images/circle.gif") 0 0 / contain no-repeat;
}

.shape-triangle {
    background: url("images/triangle.gif") 0 0 / contain no-repeat;
}